<!DOCTYPE html>
<html>
	<head>
		<%- include("../partials/bootstrap.ejs"); %>
	</head>
		<body>
			<%- include("../partials/header.ejs"); %>

			<h2><%= course.name %></h2>
			<h3><%= course.code %></h3>
 
			<% if(reviews.length > 0){ %>
				<h3> Avg Rating: <%= reviews.reduce(function(r,b){ return r + b.rating; }, 0)/reviews.length %></h3>
				<h3> Avg Difficulty: <%= reviews.reduce(function(r,b){ return r + b.difficulty; }, 0)/reviews.length %></h3>
			<% } else{ %>
				<h3> Avg Rating: 0</h3>
				<h3> Avg Difficulty: 0</h3>
			<% } %>
			<br/>
			<button type="button" id="rate" onclick="window.location.href = '/reviews/<%= course.code.replace(` `, ``).toLowerCase(); %>'">Rate Course</button>
			<br/><br/>
			<% reviews.forEach(review => { %>
				<div>
					<% if(review.grade){ %>
						<p><%= review.grade %></p>
					<% } %>
					<p>Prof: <%= review.prof %></p>
					<p>Rating: <%= review.rating %> Difficulty: <%= review.difficulty %></p>
					<p><%= review.review %></p>
					<% if(review.tags){ %>
						<% review.tags.forEach(tag => { %>
							<span><%= tag %></span>
						<% }); %>
					<% } %>
				</div>
				<br/>
			<% }); %>
		</body>
</html>