<!DOCTYPE html>
<html>
	<head>
		<style>
			#main-search{
				width: 540px;
				height: 300px;
			}
			.row{
				height: 6em;
			}
		</style>
		
		<%- include("../partials/bootstrap.ejs"); %>
	</head>
	<body>
		<%- include("../partials/header.ejs"); %>
		<div class="container-fluid">
			<!-- <input type="text" id="course-search">Put in header -->
			<br/>
			<div id="main-search" class="container  align-items-center justify-content-center">
				<ul class="nav nav-tabs nav-justified">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#list">View List of Courses</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#specific">Find Specific Course</a>
					</li>
				</ul>
				<br/><br/>
				<div class="tab-content">
					<div id="specific" class="tab-pane fade">
						<select id="subject1" class="form-control selectpicker" data-live-search="true" onchange="getCourses()">
							<option disabled selected> -- Select Subject -- </option>
							<% subjects.forEach(subject => { %>
								<option data-tokens="<%- subject.name.toLowerCase(); %>"><%- subject.name %> (<%= subject.code %>)</option>
							<% }); %>
						</select>
						<br/><br/>
						<select disabled id="courses" class="form-control selectpicker" data-live-search="true">
							<option disabled selected> -- Select Course -- </option>
						</select>
						<!-- <input class="form-control" type="text" id="course" placeholder="Enter Course Name or Code"> -->
						<div class="row align-items-end justify-content-around">
							<button type="button" id="find" onclick="viewCourse()">See Reviews</button>
							<button type="button" id="rate">Rate Course</button>
						</div>
					</div>
					<div id="list" class="tab-pane fade show active">
						<div class="row align-items-center">
							<div class="col-8">
								<select id="subject2" class="form-control selectpicker" data-live-search="true">
									<option disabled selected> -- Select Subject -- </option>
									<% subjects.forEach(subject => { %>
										<option data-tokens="<%- subject.name.toLowerCase(); %>"><%- subject.name %> (<%= subject.code %>)</option>
									<% }); %>
								</select>
							</div>
							<div class="col">
								<select id="year" class="form-control selectpicker">
									<option class="" disabled selected> -- Year -- </option>
									<% for(let i = 1; i < 6; i++){ %>
										<option><%- i %></option>
									<% } %>
								</select>
							</div>
						</div>
						<div class="row align-items-end justify-content-center">
							<button id="sub-search" type="button" onclick="listCourses();">Search</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../../js/index.js"></script>
</html>